html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  flex-direction: column;
  font-family: sans-serif;
  background-color: #FFFAF3;
}

h2 {
  font-size: 78px;
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0px;
  background-color: #718FA4;
  color: #011726;
}

.Uploadform {
  padding: 20px;
  /*bottom: 50%;*/
  /*width: 100%;*/
}

.Footer {
  padding: 20px;
  background-color: green;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.content {
  flex: 1;
  background-color: yellow;
}
